input[type="text"],
select {
  width: 80%;
  padding: 1rem 5rem;
  margin: 8px 0;
  display: inline-block;
  font-size: 2rem;
  font-family: "Belgrano", serif;
  color: black;
  font-weight: 500;
  border: 0.2rem solid rgba(128, 128, 128, 0.466);
  border-radius: 33px;
  box-sizing: border-box;
}
.select::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: grey;
}
*:focus {
  outline: none;
}

.formContainer {
  text-align: center;
  padding: 1.5rem;
  background: repeating-linear-gradient(#ffffff, #ffffff 85%, #885cc4 15%, #885cc4 100%);
  width: 60%;
  border-radius: 1rem;
  box-shadow: 0 0 1.2rem 0.3rem rgba(0, 0, 0, 0.2);
  margin-top: -70px;
}
.inputContainer {
  padding-bottom: 1rem;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.button {
  background-color: #885cc4;
  border: none;
  color: white;
  cursor:pointer;
  padding: 1rem;
  margin-left: -65px;
  border-radius: 50%;
}
.leftIcon {
  color: rgba(128, 128, 128, 0.198);
  display: inline-block;
  position: absolute;
  margin-top: 1.5rem;
  margin-left: 1.5rem;
}
