input[type="text"],
select {
  width: 80%;
  padding: 15px 20px;
  margin: 8px 0;
  display: inline-block;
  font-size: 2rem;
  font-family: "Belgrano", serif;
  color: grey;
  font-weight: 500;
  border: 0.2rem solid rgba(128, 128, 128, 0.466);
  border-radius: 33px;
  box-sizing: border-box;
}

.form-container {
  text-align: center;
  padding: 1rem;
  background-color: white;
  width: 60%;
  border-radius: 16px;
  box-shadow: 0 0 1.2rem 0.3rem rgba(0, 0, 0, 0.2);
  margin-top: -50px;
}
.container {
  margin-top: -100px;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
