.SignImage {
    width: 3.5rem;
}
.container {
    background-color: #ffc45c;
    padding: 2.5rem;
}
.inputContainer {
    background-color: aqua;
}
input[type="text"], 
  textarea {
    background-color : #f0ecec; 
  }
  input[type="text"],
  select {
    color: black;
  }