.SignImage {
    width: 3.5rem;
}
.container {
    background-color: #ffc45c;
    padding: 2.5rem;
}
.inputContainer {
  text-align: center;
  padding-left: 5%;
  padding-right: 5%;
}
input[type="text"], 
  textarea {
    background-color : #f0ecec; 
  }
  input[type="text"],
  select {
    color: black;
  }
.translationCard {
  text-align: start;
  padding: 1.5rem;
  min-height: 2rem;
  margin: 3rem;
  padding-bottom: 3rem;
  background: repeating-linear-gradient(#ffffff, #ffffff 85%, #885cc4 15%, #885cc4 100%);
  border-radius: 1rem;
  box-shadow: 0 0 2rem 0.3rem rgba(0, 0, 0, 0.2);
}
.center {
  padding-left: 10%;
  padding-right: 10%;
}